/* tailwind config */
@import 'tailwindcss';

@font-face {
  font-family: 'Hexaplex';
  src: url('/fonts/hexaplex.ttf');
}

@utility font-hex {
  font-family: 'Hexaplex', monospace;
}

@theme {
  --color-primary: #0084d1;
}

@utility hex {
  @apply aspect-square;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

/* styles */
* {
  @apply select-none touch-manipulation;
}

a {
  @apply inline-block underline;
}

html,
body {
  @apply overflow-hidden overscroll-none touch-none;
}

body {
  @apply w-screen h-[100svh];
}

.webgl {
  @apply fixed top-0 left-0 outline-none;
}

.webgl.pointer {
  @apply !cursor-pointer;
}

/* loading */
.loading {
  @apply fixed top-0 w-full h-full z-20;
  @apply flex flex-col gap-8 justify-center items-center;
}

.loading .spinner {
  @apply w-28 bg-primary hex scale-0;
}

.loading .title {
  @apply font-hex text-5xl text-white absolute z-10 scale-0 uppercase;
  text-shadow: 1px 1px 2px black;
}
