/* tailwind config */
@import 'tailwindcss';

@font-face {
  font-family: 'Hexaplex';
  src: url('/fonts/hexaplex.ttf');
}

@utility font-hex {
  font-family: 'Hexaplex', monospace;
}

@theme {
  --color-background: #79b2c3;
  --color-primary: #0084d1;
}

@utility hex {
  @apply !aspect-square min-w-12 min-h-12;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

/* styles */
* {
  @apply select-none touch-manipulation;
}

a {
  @apply inline-block underline;
}

html,
body {
  @apply overflow-hidden overscroll-none touch-none;
}

body {
  @apply w-screen h-[100svh] bg-background;
}

.webgl {
  @apply fixed top-0 left-0 outline-none;
}

.webgl.pointer {
  @apply !cursor-pointer;
}

/* loading */
.loading {
  @apply fixed top-0 w-full h-full z-10;
  @apply flex flex-col gap-8 justify-center items-center;
}

.loading .spinner {
  @apply w-28 bg-primary hex scale-0;
}

.loading .title {
  @apply font-hex text-5xl text-white absolute  scale-0 uppercase z-10;
  text-shadow: 1px 1px 2px black;
}

/* menu */
.menu {
  @apply fixed top-0 w-full h-full z-10;
  @apply flex flex-col justify-center items-center;
}

.menu .title {
  @apply font-hex text-7xl text-primary scale-0 uppercase;
  text-shadow: 1px 1px 2px white;
}

.menu button {
  @apply text-3xl scale-0;
}

.menu .credits {
  @apply font-hex text-white text-base pt-10 text-center opacity-0;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.menu .credits a {
  @apply underline hover:text-sky-200;
}

/* UI */
button.hex {
  @apply bg-white shadow-2xl p-3 hover:bg-sky-200 cursor-pointer font-hex text-primary;
}

#level {
  @apply bg-gradient-to-b to-80% from-background to-transparent py-2 absolute top-0 font-hex w-full text-center text-5xl text-primary;
  text-shadow: 1px 1px 2px white;
}

#hint {
  @apply absolute bottom-40 font-hex w-full text-center text-3xl text-white animate-pulse;
  text-shadow: 1px 1px 2px black;
}
