/* tailwind config */
@import 'tailwindcss';

@theme {
  --color-primary: #0084d1;
}

@utility hex {
  @apply aspect-square;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

/* styles */
* {
  @apply select-none touch-manipulation;
}

a {
  @apply inline-block underline;
}

html,
body {
  @apply overflow-hidden overscroll-none touch-none;
}

body {
  @apply w-screen h-[100svh] bg-radial from-sky-200 to-primary;
  background: -webkit-radial-gradient(#b8e6fe, #0084d1);
}

.webgl {
  @apply fixed top-0 left-0 outline-none;
}

.webgl.pointer {
  @apply !cursor-pointer;
}

.webgl.grab {
  @apply !cursor-grab;
}

.webgl.grabbing {
  @apply !cursor-grabbing;
}

/* loading */
.loading {
  @apply fixed top-0 w-full h-full z-20;
  @apply flex flex-col gap-8 justify-center items-center;
}

.loading .spinner {
  @apply w-28 bg-primary hex;
}
